<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  width="100px"
  height="100px"
  viewBox="0 0 100 100"
>
  <path
    fill="#FFFFFF"
    stroke="#000000"
    stroke-miterlimit="10"
    d="M 50,10
    c -25,0, -40,17.91, -40,40
    s 17.91,40, 40,40
    s 40,-17.91, 40,-40
    S 75,10,50,10z
    M 20,50
    c 0,-17, 13.43,-30, 30, -30
    c 16.57,0, 30,13, 30,30
    C 80,66.5, 20,66.5, 20,50z"
  />
</svg>
<br />
<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  width="100px"
  height="100px"
  viewBox="0 0 100 100"
>
  <path
    fill="#FFFFFF"
    stroke="#000000"
    stroke-miterlimit="10"
    d="M 50,10
    c -22.091,0, -40,17.909, -40,40
    c 0,22.091, 17.909,40, 40,40
    c 22.092,0, 40,-17.909, 40-40
    C 90,27.908, 72.092,10, 50,10z
    M 20,50
    c 0-17,13.432-30,30-30
    s 30,13,30,30
    C 80,66.5,20,66.5,20,50z"
  />
</svg>
<br />
<form>
  <fieldset>
    <legend title="Settings">
      ⚙️
    </legend>
    <button
      type="button"
      (action)="restart.emit()"
    >
      Restart
    </button>
    <br />
    <label>
      <input
        [(ngModel)]="form.width"
        (ngModelChange)="restart.emit()"
        name="width"
        type="number"
        step="1"
        min="8"
        max="100"
      />
      Board Width
    </label>
    <br />
    <label>
      <input
        [(ngModel)]="form.height"
        (ngModelChange)="restart.emit()"
        name="height"
        type="number"
        step="1"
        min="8"
        max="100"
      />
      Board Height
    </label>
    <br />
    <label>
      <input
        [(ngModel)]="form.rank"
        (ngModelChange)="restart.emit()"
        name="rank"
        type="number"
        step="1"
        min="3"
        max="5"
      />
      Ranks of Men
    </label>
  </fieldset>
</form>
