<br />
<form #form1="ngForm">
  <div>
    <fc-button (clicked)="restart.emit()">
      Restart
    </fc-button>
  </div>
  <section>
    <fieldset>
      <legend>
        Left Player
      </legend>
      <div>
        <fc-text
          [(ngModel)]="form.leftName"
          label="Name"
          name="leftName"
        ></fc-text>
        <br />
        <fc-color
          [(ngModel)]="form.leftColor"
          (ngModelChange)="form.valid && restart.emit()"
          required
          label="Color"
          name="leftColor"
        ></fc-color>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        Right Player
      </legend>
      <div>
        <fc-text
          [(ngModel)]="form.rightName"
          label="Name"
          name="rightName"
        ></fc-text>
        <br />
        <fc-color
          [(ngModel)]="form.rightColor"
          (ngModelChange)="form.valid && restart.emit()"
          required
          label="Color"
          name="rightColor"
        ></fc-color>
      </div>
    </fieldset>
  </section>
  <fieldset>
    <legend title="Settings">
      ⚙️
    </legend>
    <div>
      <fc-integer
        [(ngModel)]="form.width"
        (ngModelChange)="form.valid && restart.emit()"
        label="Board Width"
        name="width"
        type="number"
        min="8"
        max="100"
      ></fc-integer>
      <fc-integer
        [(ngModel)]="form.height"
        (ngModelChange)="form.valid && restart.emit()"
        label="Board Height"
        name="height"
        type="number"
        min="8"
        max="100"
      ></fc-integer>
      <fc-integer
        [(ngModel)]="form.rank"
        (ngModelChange)="form.valid && restart.emit()"
        label="Ranks of Men"
        name="rank"
        type="number"
        min="3"
        max="5"
      ></fc-integer>
    </div>
  </fieldset>
</form>
<br />
