form {
  margin: auto;
  width: min(100vw, 100vh);

  > div {
    text-align: center;
    > fc-button {
      display: inline-block;
    }
  }

  fieldset {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #d3d3d3;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em 0 #d3d3d3;
  }

  > section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    @media screen and (min-width: 635px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  > fieldset > div {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: 635px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
