:host {
  > div {
    text-align: center;
    > fc-button {
      display: inline-block;
    }
  }

  > form {
    margin: 0.5em;
    > fieldset > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
