<button
  type="button"
  [class.active]="isActive"
  [class.accent]="isAccent"
  [class.king-head]="cell.kingHead"
  [class.target]="isTarget"
  [disabled]="isDisabled"
  [title]="title"
  (click)="action.emit(cell)"
>
  <checkers-icon
    *ngIf="cell.occupant !== undefined"
    [type]="cell.occupant?.isKing === true ? 'king' : 'pawn'"
    [side]="cell.occupant?.side"
  ></checkers-icon>
  <div
    *ngIf="isTarget"
    class="target"
  ></div>
  <checkers-icon
    *ngIf="cell.kingHead !== undefined"
    type="kinghead"
    [side]="cell.kingHead"
    class="watermark"
  ></checkers-icon>
</button>
