<button
  type="button"
  [class.active]="isActive"
  [class.accent]="isAccent"
  [class.king-head]="cell.kingHead"
  [class.target]="isTarget"
  [disabled]="isDisabled"
  [title]="title"
  (click)="action.emit(cell)"
>
  <ng-container [ngSwitch]="isOccupantPawn">
    <ng-container *ngSwitchCase="true">
      {{ cell.occupant!.side === 'a' ? '♙' : '♟' }}
    </ng-container>
    <ng-container *ngSwitchCase="false">
      {{ cell.occupant!.side === 'a' ? '♔' : '♚' }}
    </ng-container>
  </ng-container>
  <div
    *ngIf="isTarget"
    class="target"
  ></div>
  <div
    *ngIf="cell.kingHead !== undefined"
    class="watermark"
  >
    {{ cell.kingHead === 'a' ? '♔' : '♚' }}
  </div>
</button>
